body {
    font-family: 'Montserrat', sans-serif;
}

.font {
    font-family: 'Montserrat', sans-serif;
}

.menu-nav {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-weight: 200;
}
.menu-nav::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: rgb(255, 255, 255);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.menu-nav:hover::after {
    transform: scaleX(1);
}

#searchInput {
    background-color: transparent;
    border: none;
    border-radius: 0%;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    width: 20vh;
    font-size: 3.3vh;
    color: white;

}

#searchInput:focus {
    outline: none;
}

.adaptive-block {
    height: 11%;
    padding: 10px;
    box-sizing: border-box;
}
.adaptive-div {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
}

.adaptive-btn {
    font-size: 3vh;
    box-sizing: border-box;
}

.adaptive-link {
    width: 100%;
    font-size: 3.5vh;
}

.rotate-image {
    animation: rotate 5s infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.transparent-button {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    transition: background-color 0.3s, color 0.3s;
  }
  
.transparent-button:hover {
    background-color: white;
    color: black;
}

#colorButton {
    background-color: white;
    border: 1px solid rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transition: background-color 0.3s, color 0.3s;
}

#colorButton:hover { 
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.fade {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.show.fade {
    opacity: 1;
}
  
.pointer-events-none {
    pointer-events: none;
}

.services {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-weight: 200;
}
.services::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: rgb(255, 255, 255);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.services:hover::after {
    transform: scaleX(1);
}

.highlight {
    background-color: yellow;
}

.footer_headers {
    font-size: 3.5vh;
}

.footer-menu {
    color: #b9b9b9; 
    font-size: 2.8vh;
    text-decoration: none;
}

.footer-menu:hover{
    color: white;
}

ul li a {
    color: #b9b9b9;
    font-size: 2.8vh;
    text-decoration: none;
}
  
ul li a:hover {
    color: white;
}

.services-btn {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-size: 2.5vh;
    transition: background-color 0.3s, color 0.3s;
    height: 5vh;
}

  
.services-btn:hover {
    background-color: white;
    color: black;
}

.contact-input {
    background-color: transparent;
    border: none;
    border-radius: 0%;
    border-bottom: 1px solid white;
    font-size: 2.5vh;
    color: white;
    padding: 1px 1px;
    width: 100%;
}

.contact-input:focus {
    outline: none;
    border-bottom: 1px solid red;
}

.contact-btn {
    width: 100%;
    height: 4vh;
    margin-top: 2vh;
    font-size: 1.5vh;
}
