body {
    font-family: 'Montserrat', sans-serif;
}
.adaptive-block {
    height: 11%;
    padding: 10px;
    box-sizing: border-box;
}
.adaptive-div {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
}

.adaptive-btn {
    font-size: 3vh;
    box-sizing: border-box;
}

.adaptive-link {
    width: 100%;
    font-size: 3.5vh;
}

.rotate-image {
    animation: rotate 5s infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

#colorButton {
    background-color: #f1f1f1;
    transition: background-color 0.5s ease;
}